language: php
php:
  - 7.2
  - 7.3
before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction
  - composer dump-autoload
script:
  - vendor/bin/phpunit
services:
  - redis-server